<!DOCTYPE html>
<html lang='en'>
    <meta charset='utf-8'>

    <head>
        <link rel='stylesheet' type='text/css' href='../css/header_bar.css'>
    </head>

    <body>
        <span class='main_header'>

          
            <span class='HBelem'>
                <input id='backButton' type='image'
                    src='../resources/icon/arrow_back_22dp_F3F3F3_FILL0_wght400_GRAD0_opsz24.png'
                    onclick="window.location.href='javascript:openUnit(' + urlParameters.get('unit') + ')';">
            </span>
              <span class='backButton'>
                <a class='homeIcon' target='_parent' href='../index.html'><img
                        src='../resources/icon/home_33dp_F3F3F3_FILL0_wght400_GRAD0_opsz40.png' alt='HOME' /></a>
            </span>
            <span class='HBelem langButton '>
            
                <select class='translate
                '
                    >
                    <option value='de'>DE</option>
                    <option value='en'>EN</option>
                </select>
            </span>
        </span>
    </body>
</html>
