<!DOCTYPE html>
<html lang='en'>
    <meta charset='utf-8'>

    <head>
        <link rel='stylesheet' type='text/css' href='../css/sidetogglebar.css'>
        <script src='https://code.jquery.com/jquery-3.7.1.js'
            integrity='sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4='' crossorigin='
            anonymous'></script>
    </head>

    <body>
        <div class='page-wrap'>
            <div class='toggle'>&#9776;</div>
            <!-- Using Unicode for hamburger icon -->
            <div class='page-content' id='module-content'></div>
        </div>

        <!-- Sidebar HTML -->
        <div class='sidebar' id='mySidenav'>
            <ul>
                <li><a target='_parent' href='../index.html'>🏡</a></li>
                <li>
                    <label class='lang' key='langSelection'></label>
                    <select class='translate' id='selectLanguage'>
                        <option value='de'>DE</option>
                        <option value='en'>EN</option>
                    </select>
                </li>
                <li>
                    <label class='lang' key='modules'>
                    </label>
                </li>
                <input class='lang' key='button1' type='button'
                    value='Objekt- und Formwahrnehmung'
                    onclick="window.parent.location.href='javascript:changeModule(\'module1\')'" />
                <input class='lang' key='button2' type='button'
                    value='Tiefen- und Größenwahrnehmung'
                    onclick="window.parent.location.href='javascript:changeModule(\'module2\')'" />
                <input class='lang' key='button3' type='button'
                    value='Bewegungswahrnehmung'
                    onclick="window.parent.location.href='javascript:changeModule(\'module3\')'" />
                <input class='lang' key='button4' type='button'
                    value='Psychophysik'
                    onclick="window.parent.location.href='javascript:changeModule(\'module4\')'" />
            </ul>
        </div>

        <script>
        $(function () {
            /**if ('currentModule' in localStorage) {
                $('#module-content').load('../modules/' + localStorage.getItem('currentModule') + '.html');
            }*/

            const toggleButton = document.querySelector('.toggle');
            const sidebar = document.getElementById('mySidenav');

            if (toggleButton && sidebar) {
                toggleButton.addEventListener('click', () => {
                    sidebar.classList.toggle('open');
                });

                // Close the sidebar when clicking outside of it
                document.addEventListener('click', (event) => {
                    if (!sidebar.contains(event.target) && event.target !== toggleButton) {
                        sidebar.classList.remove('open');
                    }
                });
            } else {
                console.error('Toggle button or sidebar not found!');
            }
        });
    </script>
    </body>

</html>